@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.roboto {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.smooch-sans {
    font-family: "Smooch Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.boxFixed{
    box-shadow: 20px 25px 0px #000;
}
.boxSecondary{
    box-shadow: 30px 40px 0px #000
}